/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 3, 2019, 6:29:41 PM
    Author     : Eric Boring <eboring@wgu.edu>
*/

html{
    background: gray;
}
body{
    background: white;
    width: 8.5in;
    min-height: 11in;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5in;
}

.light-gray-bar{
    background-color: lightgray;
    padding: 2px;
}

.width-100-percent{
    width: 100%;
}
.width-50-percent{
    width: 50%;
}

.width-33-percent{
    width: 33%;
}

.width-66-percent{
    width: 66%;
}

.text-align-right{
    text-align: right;
}

.no-bottom-margin{
    margin-bottom: 0;
}

.no-top-margin{
    margin-top: 0;
}

.bullet:before{
    content: ">";
    width: 1em;
    font-weight: bold;
    margin-right: 0.5em;
}

.indent{
    margin-left: 1em;
    padding-left: 0.5em;
    border-left: darkgray solid 2px;
}

.pagebreak {
    page-break-before: always; 
}

.bargraph-background{
    width: 100%;
    height: 1em;
    border-radius: 5px;
    border: black solid 2px;
    background-color: #eee;
}

.bargraph-foreground{
    height: 1em;
    border-radius: 5px;
    background-color: darkgray;
}